<h3>Syntesize Text to Speech</h3>

<p>Enter text in the input below and submit to hear it.</p>

<form role="form" class="speech-synthesiser">
<input type="text" class="txt" placeholder="Enter your text here..">
<div class="">
  <p>
     Change the Rate and Pitch:
  </p>
  <div class="set_rate">
    <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
    <div class="rate-value">1</div>
    <div class="clearfix"></div>
  </div>
  <div class="set_pitch">
    <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
    <div class="pitch-value">1</div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="">
  <p>
     Change voices using the dropdown menu.
  </p>
</div>
<select class="languages">
  <option data-lang="en-AU" data-name="Karen">Karen (en-AU)  DEFAULT</option>
  <option data-lang="en-AU" data-name="Karen1">Karen1 (en-AU) DEFAULT</option>
  <option data-lang="en-AU" data-name="Karen2">Karen2 (en-AU) DEFAULT</option>
</select>
<div class="">

  <button type="button" name="button" class="text-to-speech">Translate</button>
</div>
</form>
